@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

:root {
  --font-family-default: "Outfit", sans-serif;
  --clr-primary-1: hsl(215, 51%, 70%);
  --clr-primary-2: hsl(178, 100%, 50%);
  --clr-neutral-1: hsl(217, 54%, 11%);
  --clr-neutral-2: hsl(216, 50%, 16%);
  --clr-neutral-3: hsl(215, 32%, 27%);
  --clr-neutral-4: hsl(0, 0%, 100%);
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-size: 1.125rem;
  font-family: var(--font-family-default);
  color: var(--clr-primary-1);
  background-color: var(--clr-neutral-1);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.8rem;
}

.section-img {
  border-radius: 0.5rem;
  overflow: hidden;
}

.card-container {
  margin: 0 1rem;
  background-color: var(--clr-neutral-2);
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-title {
  font-weight: 600;
  color: var(--clr-neutral-4);
  font-size: 1.5rem;
}

.flex-group-1 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1rem;
}

.flex-group-2 {
  justify-content: space-between;
}

.author {
  border-top: 0.1rem solid var(--clr-neutral-3);
  padding-top: 1rem;
  gap: 1rem;
}

.author img {
  width: 2.5rem;
  border: 0.15rem solid var(--clr-neutral-4);
  border-radius: 50%;
}

.author span {
  color: var(--clr-neutral-4);
}

.clr-1 {
  color: var(--clr-primary-2);
  font-weight: 600;
}

.section-title:hover,
.author span:hover {
    color: var(--clr-primary-1);
}
